.modal {
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  padding: 2rem;
  width: 90%;
  max-width: 400px;
  text-align: center;
  margin: auto;
}

.modal::backdrop {
  background-color: rgba(0, 0, 0, 0.678);
  backdrop-filter: blur(4px);
}

.modal button {
  margin-top: 1.5rem;
  background-color: #3b82f6;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 0.7rem 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modal button:hover {
  background-color: #2563eb;
}
