@import url("https://fonts.googleapis.com/css2?family=BBH+Sans+Hegarty&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:wght@100&display=swap");

.container {
  background: radial-gradient(
    rgba(224, 228, 181, 0.562),
    rgba(216, 228, 157, 0.849)
  );
  min-height: 100vh;
  width: 100vw;
}

.header {
  width: 100vw;
  height: 60px;
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-family: "BBH Sans Hegarty", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: aqua;
  margin: 0px;
  align-items: center;
}

.numberCards {
  display: flex;
  gap: 10px;
  justify-content: start;
  padding: 5px;
  width: 80%;
  margin: auto;
  flex-wrap: wrap;
}

.questions {
  width: 80vw;
  height: 80vh;
  background-color: aquamarine;
  margin: auto;
  margin-top: 5px;
  border-radius: 10px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 10px;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.questions::-webkit-scrollbar {
  display: none;
}

.timer {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 30px;
  background-color: rgb(141, 52, 224);
  color: white;
  padding: 3px 5px;
  width: 50px;
  font-weight: 800;
  border-radius: 5px;
  cursor: pointer;
}

.timer:active {
  background-color: aquamarine;
}
