.container {
  background: radial-gradient(
    rgba(224, 228, 181, 0.562),
    rgba(216, 228, 157, 0.849)
  );
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.questions {
  width: 80vw;
  height: 90vh;
  background-color: aquamarine;
  border-radius: 10px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;

  /* Optional scrollbar styling */
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.questions::-webkit-scrollbar {
  display: none;
}
